<!doctype html>
<html lang="tr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <title>- Postlarımız -</title>
  </head>
  <body>


    <div class="container mt-2">
      <div class="row text-center">
        <h1>- Postlarımız -</h1>
      </div>
      <div class="row mt-2">
        <div class="col-12">

          <!-- post card yeri -->

          <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Rukiye</h5>
              <p class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque assumenda doloremque, blanditiis quaerat fuga laboriosam in alias maiores nam dolore quis sequi iusto dolorum modi corporis nostrum, asperiores voluptatum delectus.
              </p>
              <a href="#" class="btn btn-outline-info">Detay</a>
            </div>
          </div>
























        </div>
      </div>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
</html>